node_modules
coverage
website/build
build
packages/foundationdb-locks/lib
packages/foundationdb-random/lib
packages/foundationdb-utils/lib
packages/foundationdb-singleton/lib
packages/foundationdb-migrations/lib
packages/foundationdb-core/lib
packages/foundationdb-bus-redis/lib
packages/foundationdb-bus/lib
