node_modules
coverage
website/build
build
tsconfig.tsbuildinfo
packages/foundationdb-locks/lib
packages/foundationdb-random/lib
packages/foundationdb-utils/lib
packages/foundationdb-singleton/lib
packages/foundationdb-migrations/lib
packages/foundationdb-core/lib
packages/foundationdb-bus-redis/lib
packages/foundationdb-bus/lib
packages/foundationdb-events/lib
packages/foundationdb-compiler/lib
packages/foundationdb-entity/lib
packages/foundationdb-entity-specs/lib
packages/foundationdb-tuple/lib
packages/foundationdb/lib
packages/foundationdb-cli/lib
